<div class="form">
 <%= form_with('/articles', method: :post) do %>
　<textarea class ="title_form" cols="10" name="title" placeholder="title" rows="1"></textarea>
  <textarea class ="text_form" cols="30" name="text" placeholder="text" rows="10"></textarea>
  <input type="submit" value="submit" class="submit_button">
 <%end%> 
</div>